@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');


body {
  background-image: url("https://images.hdqwalls.com/wallpapers/misty-yosemite-rd.jpg");
  background-size: cover;
}

figure.mainlogo-container {
  position: relative;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: rgb(203, 203, 178);
  width: 600px;
  height: 180px;
  overflow: hidden;
}


h1.logo-text {
  font-size: 50px;
  text-align: center;
  margin: 0;
  padding: 10px;
  color: black;
  font-family: 'IM Fell English SC', sans-serif;
}

figure.mainlogo-container::before,
figure.mainlogo-container::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 50px solid transparent;
}

figure.mainlogo-container::before {
  border-top-color: rgba(0, 0, 0, 0.1);
  border-left-color: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
}


figure.mainlogo-container::after {
  border-bottom-color: rgba(0, 0, 0, 0.1);
  border-right-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  right: 0;
}

#button-container {
  display: flex;
  justify-content: center;
}

.nav-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(86, 20, 1);
  color: tan;
  border: none;
  border-radius: 8px;
  margin-right: 10px;
}

.nav-button:hover {
  background-color: #7b3b2b;
}

.wall-sconces-logo-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  width: 1000px;
}

.wall-sconce {
  width: 50px;
  height: 100px;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  background-color: #f1c40f;
  position: relative;
  margin: 0; 
}

.flame {
  width: 25px;
  height: 60px;
  background-color: #e3900ad6;
  position: absolute;
  bottom: 0;
  left: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform: translateX(-50%);
  animation: flicker 0.5s infinite alternate;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
    transform: scaleY(0.98);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}


#footerbar {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  justify-content: center;
  left: 0;
  right: 0;
  height: 30px;
  background: rgba(255, 255, 255, 0.212);
  backdrop-filter: blur(2px);
  border-radius: 8px;
  padding: 20px;
}

.formstyle {
  display: flex;
  justify-content: center;
}

.form-container {
  background: rgba(255, 255, 255, 0.212);
  backdrop-filter: blur (8px);
  padding: 20px;
  max-width: 600px;
}